body{
    background-color: lightblue;
}

#container{
    display: flex;
    justify-content: center;
    overflow-x: auto;

}   

#BeginFib{
    width: 450px;
    height: 75px;
    border-radius: 16px;
    font-size: 24px;
    border-width: 5px;
    border-color: darkblue;
    
}

#Fibonnaci, th, td{
    background-color:rgba(211, 211, 211, 0.8);
    margin: 0 auto;
    width: 950px;
    text-align: center;
    padding: 10px;
    font-size: 35px;
    color: black;
    border: 4px solid black;
    border-collapse: collapse
}
#container2{
    border: 5px solid black;
    justify-content: center;
    margin: 0 auto;
    width:950px;
    display: flex;
    overflow-x: auto;
    height: 74vh;
}

#BeginFib:hover{
    color: white;
    background-color: darkblue;
}